<a href="https://colab.research.google.com/github/Tdiddydoit/Python-collab/blob/main/Week3_Assignment_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read the dataset using pandas. The dataset will be available in the same folder.
After reading the dataset, perform the following exploratory data analysis.

Dataset resource:
https://www.openintro.org/data/index.php

https://www.openintro.org/data/index.php?data=nycflights

You can choose to **answer 5 questions** for the assignment. **5 are graded**

***Use the rest to test your knowledge***

1. How many flights were operated by American Airlines and how many by Delta AirlinesÂ ?

In [ ]:
#Code here

import pandas as pd

df = pd.DataFrame()

df = pd.read_csv("/content/nycflights.csv")


American = df.loc[(df.carrier == 'AA') ]

Delta = df.loc[(df.carrier == 'DL')]

American_Flight_count = len(American)

Delta_Flight_count = len(Delta)

print(f"American operated {American_Flight_count} flights and Delta operated {Delta_Flight_count}")

American operated 3188 flights and Delta operated 4751

2. Identify the top destinations from each JFK airport.

In [ ]:
#Code here

import pandas as pd

df = pd.DataFrame()

df = pd.read_csv("/content/nycflights.csv")

JFK_Air = df.loc[(df.origin == 'JFK')]
JFK_Air

Destination_Count = JFK_Air['dest'].value_counts()
print(Destination_Count)

dest
LAX    1115
SFO     832
BOS     585
MCO     529
SJU     471
       ...
MVY      16
MKE      15
EGE      10
SDF       3
PSP       2
Name: count, Length: 66, dtype: int64

3. Count the number of flights departing from each origin airport to different destinations.

In [8]:
#Code here

import pandas as pd

df = pd.DataFrame()

df = pd.read_csv("/content/nycflights.csv")

Deporting_Flights = df.carrier
Deporting_Flights

Deporting_Counts = Deporting_Flights.value_counts()
Deporting_Counts

carrier
UA    5770
B6    5376
EV    5142
DL    4751
AA    3188
MQ    2507
US    2015
9E    1696
WN    1261
VX     497
FL     307
F9      69
AS      66
YV      53
HA      34
OO       3
Name: count, dtype: int64

4. How missing values are there in the column dep_time?

In [ ]:
#Code here

5. Identify the airline with the highest average departure delay.

In [23]:
#Code here

import pandas as pd

df = pd.DataFrame()

df = pd.read_csv("/content/nycflights.csv")

Depart_Delay = df[['dep_delay', 'carrier']]


Delay_Average = df.groupby('carrier')['dep_delay'].mean().reset_index()
Delay_Average

Highest_Delay = Delay_Average.sort_values('dep_delay', ascending = False)
Highest_Delay

   carrier  dep_delay
8       HA  38.529412
10      OO  22.000000
5       EV  20.066122
7       FL  18.368078
15      YV  18.264151
14      WN  17.381443
0       9E  17.285967
3       B6  13.137091
6       F9  12.811594
11      UA  12.725650
13      VX  12.722334
9       MQ   9.617870
1       AA   9.142409
4       DL   8.529573
2       AS   5.181818
12      US   4.030769

6. Count the number of flights departing from each origin airport to different destinations.

In [ ]:
#Code here

import pandas as pd

df = pd.DataFrame()

df = pd.read_csv("/content/nycflights.csv")

Deporting_Flights = df.carrier
Deporting_Flights

Deporting_Counts = Deporting_Flights.value_counts()
Deporting_Counts

7. Extract the hour, minutes from the 'DEP_TIME' column and add put it into new column with appropriate names

In [ ]:
#Code here

8. Plot a histogram to visualize the distribution of departure delays during different times of the day.

**Note: dep_delay, arr_delay values are in minutes. Negative times represent early departures/arrivals.**

In [ ]:
#Code here